/* Mobile-First */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Cores - Colors */
    --background-color: #E9ECEF;
    --text-color: #212529;
    --main-color: #0DCAF0;
    --section-color:#E9ECEF;
    --button-color:#CED4DA;
    --hover-color:#41f1fd;
    --language-color:#CED4DA;

    /* --zzz: #0DCAF0; */
    --zzz: #ADB5BD;
    /* --zzz: #CED4DA; */
    --zzz: #DEE2E6;
    /* --zzz: #ADB5BD; */

    --aaa: #CED4DA;
    --aaa: #CED4DA;

    --border-color-default: #000000;

    /* Fontes - Fonts*/

    --font-family-main: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    --font-size-0micro: 9px;
    --font-size-1small: 12px;
    --font-size-2base: 16px;
    --font-size-3medium: 20px;
    --font-size-4large: 24px;
    --font-size-5large-large: 32px;
    

    /* Espaçamento - Spacing - padding */

    --spacing-1default: 2rem;
    --spacing-button: 0.75rem 1.25rem;
    /* --spacing-: ; */
    /* --spacing-: ; */

    /* Bordas - Bords */

     --border-radius-small: 0.500rem;
     --border-radius-base: 1.350rem;

     --border-small: 0.200rem solid var(--border-color-default);
}

/* ========================================================================================================= */



html{
    font-family: var(--font-family-main);
    font-size: var(--font-size-2base);
    color: var(--text-color);
}


body{
    min-height: 100vh;
}


.center-container{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-1default);
}


.content{
    background-color: var(--main-color);
    width: 100%;
                            /* OLHA EM BAIXO   < -------------------------------------------------------------- */
    height: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-1default);
    gap: var(--spacing-1default);
}


.box{
    background-color: var(--section-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-1default);
    gap: var(--spacing-1default);
}


#left-box{
    align-items: center;
}


#left-box h2{
    width: 90%;
    border: var(--border-small);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-2base);
    text-align: center;
    padding: var(--spacing-button);
}


#left-box .language-input{
    width: 100%;
    padding: var(--spacing-button);
    margin-bottom: 0.75rem;
    font-size: var(--font-size-0micro);
}


#left-box .btn {
    width: 80%;
    border: var(--border-small);
    padding: var(--spacing-button);
    border-radius: var(--border-radius-small);
    background-color: var(--button-color);
    transition: all 0.5s ease;
}


#left-box .btn:hover{
    background-color: var(--hover-color);
    border-radius: var(--border-radius-base);
}




#right-box {
    align-items: center;
}

.language{
    background-color: var(--language-color);
    width: 100%;
    border: var(--border-small);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-button);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-language{
    padding: 0.3rem 0.75rem;
}
