/* Mobile-First */

:root {

    /* TOKENS GLOBAIS */

    /* Cores - Colors */
    --background-color: #faeee7;
    --main-color: #759FBC;
    --section-color: #ffc6c7;
    --font-text-color: #212529;
    --h2-color: #EDE5DC;
    --buttom-color: #c3f0ca;
    --hover-color:#96eba3;
    --language-color:#EDE5DC;
    --scroll-color: #888 #f1f1f1;

    --border-color-main: #1F5673;
    --border-color-section: #594a4e;

    /* --aaa: #EDE5DC ; */


    /* Fontes - Fonts*/
    --font-family-main: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;

    --font-size-0base: 1rem;
    --font-size-1micro: 0.625rem;
    --font-size-2small: 0.75rem;
    --font-size-3medium: 1.25rem;
    --font-size-4large: 1.5rem;
    --font-size-5xlarge : 1.75rem;


    /* Espaçamento - Spacing - padding */
    --spacing-1xxs: 0.15rem;
    --spacing-2xxs: 0.25rem;
    --spacing-3xs: 0.5rem;
    --spacing-4sm: 0.75rem;
    --spacing-5md: 1rem;
    --spacing-6lg: 1.5rem;
    --spacing-7xl: 2rem;
    --spacing-8xxl: 3rem;



    /* Scoped Tokens | factory */

    --border-thin: var(--spacing-1xxs) solid var(--font-text-color); 

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    font-family: var(--font-family-main);
    font-size: var(--font-size-0base);
    color: #212529;
}


body{
    min-height: 100vh;
}


.center-container{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-6lg);
}


.content{
    background-color: var(--main-color);
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-5md);
    gap: var(--spacing-5md);
    border: 0.350rem solid var(--border-color-main);
    border-radius: var(--spacing-4sm);
}


.box{
    background-color: var(--section-color);
    width: 100%;
    display: flex;
    
    border: 4px solid var(--border-color-section);
    border-radius: var(--spacing-4sm);
}


#left-box {
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-5md);
    gap: var(--spacing-5md);
}


#left-box h2{
    width: 90%;
    text-align: center;
    font-size: var(--font-size-3medium);
}


#left-box .language-input{
    width: 100%;
    padding: var(--spacing-4sm) var(--spacing-5md);
    border: none;
    border-radius: var(--spacing-4sm);
    margin-bottom: var(--spacing-5md);
}


.btn-container{
    /* background-color: #759FBC; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-5md);
}

.btn-container .btn{
    background-color: var(--buttom-color);
    width: 80%;
    max-width: 15rem;
    padding: var(--spacing-4sm) var(--spacing-5md);
    white-space: nowrap;
    cursor: pointer;
    border: var(--border-thin);
    border-color: var(--border-color-section);
    border-radius: var(--spacing-5md);
    transition: all 0.5s ease-in-out;
}


#left-box .btn:hover{
    transform: scale(1.05);
    border-radius: var(--spacing-6lg);
    background-color: var(--hover-color);
}




#right-box{
    display: flex;
    padding: var(--spacing-4sm) 0;
}


.language-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6lg);
    padding: var(--spacing-5md);
    align-items: center;
}

.language{
    background-color: var(--language-color);
    width: 100%;
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4sm);
    border-radius: var(--spacing-4sm);
}


.left-language{
    flex: 1;
    margin-right: var(--spacing-5md);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.right-language{
    padding: var(--spacing-3xs) var(--spacing-4sm);
}




/* =========================================================================================================== */
/* pc */          /* pc */              /* pc */               /* pc */                 /* pc */


@media (min-width: 850px){
    

    .center-container {
            padding: var(--spacing-7xl);
        }
    
    
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            width: 100%;
            max-width: 100rem;
            padding: var(--spacing-6lg);
            gap: var(--spacing-7xl);
        }
    
    
        .box {    
            border-radius: var(--spacing-5md);
        }
    
    
        #left-box {
            padding: var(--spacing-7xl);
            gap: var(--spacing-6lg);
        }
    
    
        #left-box h2 {
            width: 90%;
            text-align: center;
            font-size: var(--font-size-5xlarge);
        }
    
    
        #left-box .language-input {
            width: 100%;
            padding: var(--spacing-4sm) var(--spacing-5md);
            border: none;
            border-radius: var(--spacing-4sm);
            margin-bottom: var(--spacing-7xl);
        }


        .btn-container{
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            gap: var(--spacing-8xxl) var(--spacing-5md);
        }
    
    
        .btn-container .btn {
            width: 90%;
            padding: var(--spacing-5md) var(--spacing-8xxl);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    
    
        #left-box .btn:hover {
            transform: scale(1.05);
            border-radius: var(--spacing-6lg);
            background-color: var(--hover-color);
        }
    
    
    
    
        #right-box {
            display: flex;
            align-items: center;
            padding: var(--spacing-4sm) var(--spacing-2xxs);
            overflow: hidden;
        }
      
    
        .language-container {
            /* background-color: #594a4e; */
            width: 100%;
            max-height: 25rem;
            overflow-y: auto;
            gap: var(--spacing-7xl);
        }
    
        .language {
            padding: var(--spacing-6lg);
        }
    

        .right-language {
            padding: 0;
        }
}
